@model WhatToEat.Models.ViewModels.Diary.DiaryVM
your diary
<div class="ajaxcart" style="color:white;">
    Your diary: @Model.Quantity item(s) - Calories @Model.Calorie
    <br />
    @Html.ActionLink("Checkout", "Index")
</div>
