@model WhatToEat.Models.ViewModels.Diary.DiaryVM
<div class="ajaxcart" style="color:white;">
    You Have Consumed: @Model.Calorie Calories 
    <br />
    @Html.ActionLink("Confirm Your Selection", "Index")
</div>
